<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>848470984777-j3p05euiefa662rbm57u7brdlpq6p0ci.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.848470984777-j3p05euiefa662rbm57u7brdlpq6p0ci</string>
	<key>API_KEY</key>
	<string>AIzaSyBdYpn8hGppLvP88tu5j6qX1QskI3zwFrI</string>
	<key>GCM_SENDER_ID</key>
	<string>848470984777</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jmcc.dietapp</string>
	<key>PROJECT_ID</key>
	<string>dietapp-cd385</string>
	<key>STORAGE_BUCKET</key>
	<string>dietapp-cd385.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:848470984777:ios:fc40af64c883747e</string>
	<key>DATABASE_URL</key>
	<string>https://dietapp-cd385.firebaseio.com</string>
</dict>
</plist>